<h1><%= @category.name %></h1>



  <% @category.items.each do |item| %>
<h2> <%= link_to item.name, category_item_path(@category.id, item.id) %></h2>
<h3>  <%= item.city %></h3>
      <% price = item.price %>
<h3>  <%= number_to_currency(price) %></h3>
<% end %>

<%= link_to "Back to All Categories", categories_path %>
