<div class="panel panel-body">
  <div class="well well-md hover ACC fly" id="itemNAMES">
  <div class="row">

    <div class="col-xs-4 col-sm-5 col-md-4" id="itemNAME"><h3><%= @item.name %></h3>
      <% if current_user && current_user.id  == @item.user_id || current_user && current_user.admin %>
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-2">
        <%= link_to "Edit", edit_item_path(@item), class:"editLINk" %>
      </div>
        <%= button_to('Delete', item_path(@item), :method => 'delete', :class => 'btn btn-xs btn-warning')  %>
        <br>
      </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-4 alignTOP"><h4>
      <!-- <i><%= @item.city %></i> -->
      <h5><i><%= @item.city%></i>, <%= @item.state %> <%= @item.zipcode %></h5>
    </h4></div>
      <% price = @item.price %>
    <div class="col-xs-5 col-md-3"><h5><%= number_to_currency(price) %></h5></div>
    <div class="col-xs-1 col-md-1">

    </div>
  </div>
  <div class="panel" >
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 content">
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-4">
            <h6> <i class="fa fa-clock-o"></i> Added <%= time_ago_in_words(@item.created_at)%> ago</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <h5> <i class="fa fa-btc"></i> <%= (price.to_f / current_rate.to_f).round(2) %></h5>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <h5> <i class="fa fa-phone"></i> <%= number_to_phone(@item.phone_number, area_code: true)%></h5>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h4> <i class="fa fa-info-circle"></i> <%= @item.description %></h4>
          </div>


        <div class="locationLAT"style="display:none;">
          <%= @item.latitude %>
        </div>
        <div class="locationLON" style="display:none;">
          <%= @item.longitude %>
        </div>
        <% if @item.image_file_name %>
          <div class="item_image">
            <a class="example-image-link" href="<%=item.image.url(:large)%>" data-lightbox="example-1"><img class="example-image" src="<%=item.image.url(:med)%>" alt="image-1" /></a>
          </div>
        <% end %>


        <!-- </div> -->
    </div>


  </div>



</div>
  <%= social_share_button_tag(@item.name, :popup => "true", :url => "http://bitlist.org/items", :popup => "true") %>

</div>


  <div class="col-xs-4 col-md-12">

</div>
</div>
